.recipe-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.recipe-list button{
    padding: 10px 35px;
    background-color: #41b3a3;
    border-radius: 25px;
    color: #fcfcfc;
    border: 3px solid #41b3a3;
    font-size: 15px;
    outline: none;
    box-shadow: 4px 5px #d6d8d8;
}
.recipe-list button:hover {
    background-color: #fcfcfc;
    color: black;
}
.recipe{
    border-bottom: 3px groove #afb8b6;
    margin-top: 15px;
}

.recipe button{
    padding: 6px 28px;
    background-color: #fcfcfc;
    border-radius: 5px;
    color: black;
    border: 3px solid #41b3a3;
    font-size: 15px;
    outline: none;
}

.recipe button:hover{
    background-color: #41b3a3;
    color: #fcfcfc;
}
.scroll-to-top{
    position: fixed;
    top: 90vh;
    right: 15%;
  }

 .recipe-list input {
      width: 25%;
      padding: 8px 20px;
      border-radius: 25px;
      box-sizing: border-box;
      border: 3px solid #41b3a3;
      color: black;
      background-color: #fcfcfc;
      outline: none;
      box-shadow: 4px 5px #d6d8d8;
      margin-bottom: 30px;
  }
  .recipe-list select {
      background-color: #41b3a3;
      border-radius: 5px;
      padding: 9px 20px;
      outline: none;
      text-align: center;
      color: #fcfcfc;
      margin-bottom: 30px;
      }
  .recipe-list select option {
    background: #afb8b6;
    color: black;
    overflow: hidden;
  }
  .recipe-list h1 {
      margin-bottom: 20px;
      margin-top: 15px;
  }